 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br>
                </div>
            <div class="row">
                <div>
                    <p>
                    
                Welcome to the Introduction to Python course, offered by UT Austin's CCBB as part of the 5th annual Big Data in Biology Summer School! <a href="http://sjspielman.org">Stephanie Spielman</a> will be the course instructor. She is currently a postdoc at Temple University and will be joining Rowan University's Department of Biological Sciences as Assistant Professor in Fall 2018. The TA for this course will be Dariya Sydykova, who is currently a PhD candidate in the Wilke lab here at UT.
                <br><br>
                In this course, we will learn basic concepts in scientific computing through the lens of the Python programming language, specifically using the version <b>Python3</b>. You will be introduced to the following concepts:
                <ul>
                    <li> Run Python code from the console </li>
                    <li> Create and run Python scripts </li>
                    <li> Control flow with <tt>if/else</tt> statements and <tt>for-loops</tt> </li>
                    <li> Writing custom functions </li>
                    <li> Reading and writing text files</li>
                    <li> Regular expressions and text parsing</li>
                </ul>       
                    </p>
                </div>
            </div>
        </div>
    </section>